{% extends 'base.html' %}

{% block title %}Announcements{% endblock %}

{% block content %}
    <h1>Announcements</h1>
    <form method="post" action="{{ url_for('create_announcement') }}">
        {{ form.hidden_tag() }}
        <label for="announcement">Announcement:</label>
        {{ form.announcement }}
        {{ form.submit }}
    </form>
    <ul>
        {% for announcement in announcements %}
            <li>{{ announcement }}</li>
        {% endfor %}
    </ul>
{% endblock %}
